@CHARSET "ISO-8859-1";
html{
	height:100%;
}

body{
	padding:0px;
	margin:0px;
	min-height: 100%;
	background-image:url("../images/url.png");
}

#logo{
	margin-left:50px;
}

#entete{
	background-color:#01245a;
	text-align:left;
	margin-bottom:0px;
}

#entete2{
	background-color:#01245a;
	text-align:left;
	margin-top:-20px;
	padding-top:20px;
	padding-bottom:10px;
	padding-left:160px;
}

#sous-entete{
	text-align:left;
	padding:0px;
	margin:0px;
	padding-left:155px;
}

.menu_1{
	color:#ffffff;
	margin-right:25px;
	display:inline-block;
}

.menu_1:hover{
	color:#b71910;
}

.menu_2:active{
	color:#b71910;
	
}
.photo_id{
	width:35px;
}

.panneau_utilisateur{
	color:#ffffff;
}

.mon_compte{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}

#corps{
	margin: 0;
	margin-top:-20px;
	padding:20px;
	margin-left:50px;
	margin-right:50px;
	background-color:#ffffff;
	min-height:100%;
  	padding-top: 0;
  	padding-bottom:0;
  	border:1px solid #7d7d7d;
  	
}

.evenement__block{
	
}

.selection_form{
	line-height:2;
	padding:0;
}
.evenement_titre{
	color:#249aa8;
	font-weight:bold;
	line-height:1;
}

.evenement_icone{
	width:25px;
}

.evenement_details{
	margin-right:15px;
	display:inline-block;
}

.evenement_photo{
	width:65px;
	border: 1px solid #7d7d7d;
	margin-left:15px;
}

.text{

}

#footer{
	height:35px;
	background-color:#01245a;
  	border-top:none;
	margin-left:50px;
	margin-right:50px;
	border:1px solid #b71910;
}

#chart1{display: inline-block;
	margin:20px;
	width:600px; height:300px;

}

#chart2{display: inline-block;
	float:left;margin:20px;
	width:600px; height:300px;

}